* {
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 50px 0 50px;
  background-color: #0F0F0F;
}

@media (max-height: 428px) and (orientation: landscape) {
  .header {
    height: 50px;
  }
}

@media (max-width: 550px) {
  .header {
    padding: 0 0px 0 40px;
  }
}

.header-name {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

@media (max-height: 428px) and (orientation: landscape) {
  .header-name {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  .header-name {
    font-size: 25px;
  }
}

@media (max-width: 428px) {
  .header-name {
    min-width: 115px;
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .header-name {
    min-width: 100px;
    font-size: 15px;
  }
}

.header-nav .btn {
  height: 80px;
  width: 250px;
  background-color: transparent;
  border: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (max-height: 428px) and (orientation: landscape) {
  .header-nav .btn {
    height: 50px;
  }
}

@media (max-width: 450px) {
  .header-nav .btn {
    font-size: 11px;
    width: 225px;
  }
}

@media (max-width: 375px) {
  .header-nav .btn {
    width: 180px;
  }
}

@media (max-width: 360px) {
  .header-nav .btn {
    font-size: 11px;
  }
}

.header-nav .btn:hover {
  background: #1F1F1F;
  cursor: pointer;
}

.main {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 810px) {
  .main {
    background-size: cover;
  }
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  height: 320px;
  border: 4px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-height: 428px) and (orientation: landscape) {
  .main-logo {
    width: 250px;
    height: 220px;
  }
}

@media (max-width: 375px) {
  .main-logo {
    width: 255px;
    height: 180px;
  }
}

.main-logo h1 {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.main-logo h1::before {
  position: absolute;
  content: '';
  top: 50px;
  width: 90px;
  height: 2px;
  background-color: #fff;
}

.main-logo h1::after {
  position: absolute;
  content: '';
  top: 4px;
  right: 0;
  width: 90px;
  height: 2px;
  background-color: #fff;
}

.main-logo h2 {
  font-family: PT Sans;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.main p {
  margin-top: 80px;
  margin: 80px 20px 0 20px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

@media (max-height: 428px) and (orientation: landscape) {
  .main p {
    margin: 40px 20px 0 20px;
  }
}

@media (max-width: 375px) {
  .main p {
    font-size: 12px;
  }
}

.feedback {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media (max-height: 428px) and (orientation: landscape) {
  .feedback {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feedback form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px;
  width: 500px;
  height: 600px;
  border-radius: 4px;
  background-color: rgba(12, 0, 0, 0.719);
}

@media (max-width: 926px) and (max-height: 428px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 70%;
  }
}

@media (max-width: 915px) and (max-height: 412px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 70%;
  }
}

@media (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 73%;
  }
}

@media (max-width: 883px) and (max-height: 412px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 73%;
  }
}

@media (max-width: 854px) and (max-height: 384px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 75%;
  }
}

@media (max-width: 844px) and (max-height: 390px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 77%;
  }
}

@media (max-width: 812px) and (max-height: 375px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 80%;
  }
}

@media (max-width: 800px) and (max-height: 360px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 80%;
  }
}

@media (max-width: 760px) and (max-height: 375px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 85%;
  }
}

@media (max-width: 670px) and (max-height: 375px) and (orientation: landscape) {
  .feedback form {
    height: auto;
    width: 97%;
  }
}

@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  .feedback form {
    width: 96%;
  }
}

@media (max-width: 320px) {
  .feedback form {
    width: 250px;
  }
}

.feedback form input {
  margin: 5px;
  padding: 5px;
  width: 300px;
  height: 25px;
  border: none;
  outline: none;
  color: #000;
  background: transparent;
  border-bottom: 1px solid #000;
  font-family: 'PT Sans', sans-serif;
}

.feedback form input:nth-child(14) {
  border: 1px solid black;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  padding: 0;
  width: 312px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-height: 428px) and (orientation: landscape) {
  .feedback form input:nth-child(14) {
    width: 100%;
  }
}

@media (max-height: 375px) and (orientation: landscape) {
  .feedback form input:nth-child(14) {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .feedback form input:nth-child(14) {
    width: 250px;
  }
}

@media (max-height: 428px) and (orientation: landscape) {
  .feedback form input:nth-child(13) {
    position: absolute;
    bottom: 100px;
    right: 35px;
    width: 25px;
    height: 25px;
  }
}

@media (max-height: 375px) and (orientation: landscape) {
  .feedback form input:nth-child(13) {
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 25px;
    height: 25px;
  }
}

.feedback select {
  outline: none;
  background: #d2cfcf;
  width: 310px;
  color: #757575;
  border: 1px solid #757575;
}

.feedback select option {
  outline: none;
  color: #757575;
  width: 300px;
  border: 1px solid #757575;
}

.feedback textarea {
  margin: 5px;
  padding: 5px;
  width: 300px;
  height: 180px;
  border: none;
  outline: none;
  color: #000;
  background: transparent;
  border: 1px solid #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

@media (max-height: 428px) and (orientation: landscape) {
  .feedback textarea {
    height: 100px;
  }
}

@media (max-height: 375px) and (orientation: landscape) {
  .feedback textarea {
    height: 100px;
  }
}

@media (max-width: 320px) {
  .feedback textarea {
    width: 250px;
  }
}

@media (max-width: 320px) {
  .feedback {
    width: 280px;
  }
}

.personality {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.795);
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

@media (max-height: 428px) and (orientation: landscape) {
  .personality {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.personality p {
  max-width: 300px;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #000;
}

@media (max-height: 428px) and (orientation: landscape) {
  .personality p {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .personality p {
    max-width: 260px;
  }
}

.personality a {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #000;
}

@media (max-height: 428px) and (orientation: landscape) {
  .personality a {
    font-size: 14px;
  }
}

.page404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(../../../autopole.zz/static/images/404.jpg);
  background-size: cover;
  background-position: center;
}

.page404 h1 {
  font-size: 100px;
  color: red;
}
/*# sourceMappingURL=style.css.map */