* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 50px;
    background: #998431;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 1px solid black;
    color: #FFFFFF;
    cursor: pointer;
    &:hover {
        background: #b49b393b;
    }
}

.down {
    position: relative;
    bottom: 60px;
    left: 4px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 5px;
    cursor: pointer;
    animation: down 2s infinite ease-in-out;
    &::after {
        content: 'v';
        position: absolute;
        bottom: -25px;
        left: 21px;
    }
}

.header {
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(../images/wine-bg.jfif), #EDEDED;
    height: 100vh;
    background-size: cover;
    background-position: 0 -125px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1625px) {
        background-position: center;
    }
    &-contacts {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        color: #FFFFFF;
        margin-top: 30px;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1110px;
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }
    &__line {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        width: 100%;
        height: 47px;
        transition: .2s;
        &:hover {
            background: rgba(0, 0, 0, 0.336);
        }
    }
    &-link:nth-child(1) {
        border-right: 1px solid #FFFFFF;
        &:hover {
            background: linear-gradient(90deg, rgba(253, 253, 253, 0), rgba(0, 0, 0, 0.336));
        }
    }
    &-link:nth-child(2) {
        border-right: 1px solid #FFFFFF;
    }
    &-link:nth-child(4) {
        border-left: 1px solid #FFFFFF;
        &:hover {
            background: linear-gradient(-90deg, rgba(253, 253, 253, 0), rgba(0, 0, 0, 0.336));
        }
    }
    &__button {
        position: absolute;
        bottom: 150px;
        display: flex;
        justify-content: space-between;
        width: 415px;
    }
}

@keyframes down {
    from {
        bottom: 60px;
    }
    50% {
        bottom: 40px;
    }
    to {
        bottom: 60px;
    }
}

.taste {
    display: flex;
    justify-content: center;
    background-color: #282828;
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1110px;
        height: 650px;
        margin: 100px auto;
        border: 3px solid #C4C4C4;
    }
    h1 {
        margin-top: 60px;
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        &::before {
            content: '';
            position: absolute;
            top: 150px;
            left: 465px;
            width: 160px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
        }
    }
    p {
        margin-top: 80px;
        max-width: 733px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
    }
    img {
        margin-top: 50px;
        width: 85px;
        height: 160px;
    }
}

.harvest {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 140px;
    background: #E6E3C4;
    &::before {
        position: absolute;
        content: '';
        top: 80px;
        left: 10%;
        width: 80%;
        border: 1px solid #998431;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 80px;
        left: 10%;
        width: 80%;
        border: 1px solid #998431;
    }
    &__info {
        position: relative;
        max-width: 570px;
        margin-right: 80px;
        p:nth-child(1) {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #000000;
        }
        h1 {
            margin-top: 30px;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 150%;
            color: #282828;
            max-width: 298px;
            &::before {
                content: '';
                position: absolute;
                top: 192px;
                left: 0;
                width: 160px;
                border: 1px solid;
            }
        }
        p:nth-child(3) {
            margin-top: 60px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #000000;
            max-width: 445px;
        }
        p:nth-child(5) {
            margin-top: 60px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #000000;
            max-width: 445px;
        }
        &-table {
            margin-top: 20px;
            table {
                tr {
                    td:nth-child(1) {
                        padding-right: 25px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%;
                        color: #282828;
                    }
                    td:nth-child(2) {
                        padding-left: 30px;
                        padding-top: 10px;
                        font-family: Playfair Display;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 150%;
                        color: #282828;
                        border-left: 1px solid #282828;
                        p {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #282828;
                            padding-bottom: 10px;
                        }
                    }
                }
                tr:nth-child(2) {
                    td {
                        border-top: 1px solid #282828;
                        border-bottom: 1px solid #282828;
                    }
                }
            }
        }
        button {
            margin-top: 30px;
            width: 254px;
            height: 50px;
            left: 405px;
            top: 2604px;
            border: none;
            background: #998431;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    &__image {
        display: flex;
        flex-wrap: wrap;
        max-width: 570px;
        @media (max-width: 1118px) {
            height: 630px;
            max-width: 465px;
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                transition: .5s;
            }
        }
        div:nth-child(1) {
            width: 540px;
            height: 500px;
            margin: 15px;
            overflow: hidden;
            @media (max-width: 1118px) {
                transform: scale(.9);
                width: 465px;
                height: 415px;
                margin: 0;
            }
            &:hover {
                img {
                    transform: scale(.8);
                }
            }
        }
        div:nth-child(2) {
            width: 255px;
            height: 228px;
            margin: 15px;
            overflow: hidden;
            @media (max-width: 1118px) {
                width: 200px;
                height: 180px;
                margin: 10px;
            }
            &:hover {
                img {
                    transform: scale(.8);
                }
            }
        }
        div:nth-child(3) {
            width: 255px;
            height: 228px;
            margin: 15px;
            overflow: hidden;
            @media (max-width: 1118px) {
                width: 200px;
                height: 180px;
                margin: 10px;
            }
            &:hover {
                img {
                    transform: scale(.8);
                }
            }
        }
    }
}

.feedback {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #282828;
    &-info {
        display: flex;
        justify-content: center;
        max-width: 910px;
        flex-wrap: wrap;
        h1 {
            position: relative;
            top: -32px;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            background: #282828;
            width: 420px;
            &::before {
                position: absolute;
                top: -43px;
                left: -355px;
                content: '';
                background-color: #282828;
                background-image: url(../images/vine.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 260px;
                height: 200px;
                @media (max-width: 1118px) {
                    left: -285px;
                    width: 200px;
                    height: 150px;
                }
            }
            &::after {
                position: absolute;
                top: -43px;
                right: -355px;
                content: '';
                background-color: #282828;
                background-image: url(../images/barrel.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 244px;
                height: 200px;
                @media (max-width: 1118px) {
                    right: -278px;
                    width: 160px;
                    height: 160px;
                }
            }
        }
        p {
            position: relative;
            max-width: 540px;
            margin-top: 80px;
            margin-bottom: 50px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            @media (max-width: 1200px) {}
            &::after {
                position: absolute;
                content: '';
                top: -40px;
                left: 38%;
                width: 118px;
                border: 1px solid #FFFFFF;
                @media (max-width: 1200px) {
                    left: 35%;
                }
            }
        }
        @media (max-width:1200px) {
            max-width: 390px;
        }
    }
    form {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1100px;
        margin-top: 75px;
        padding: 0 280px 80px 280px;
        border: 3px solid #C4C4C4;
        input {
            background: #282828;
            border: none;
            border-bottom: 1px solid #FFFFFF;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 10px;
            outline: none;
        }
        input:nth-child(4) {
            margin-top: 50px;
            width: 540px;
            height: 50px;
            border: 1px solid #FFFFFF;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background: #424141;
            }
        }
        @media (max-width:1200px) {
            max-width: 950px;
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #998431;
    height: 220px;
    &__line {
        width: 100%;
        height: 60px;
        max-width: 1100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: 1px solid #FFFFFF;
        a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &__contacts {
        display: flex;
        width: 100%;
        max-width: 1100px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        &-name,
        &-tel,
        &-social,
        &-copy {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px 0;
            border: 1px solid #FFFFFF;
        }
        &-social {
            img {
                padding: 0 20px;
            }
        }
        &-name {
            border-left: none;
        }
        &-copy {
            border-right: none;
        }
    }
}