* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 182px;
  height: 50px;
  background: #998431;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid black;
  color: #FFFFFF;
  cursor: pointer;
}

.btn:hover {
  background: #b49b393b;
}

.down {
  position: relative;
  bottom: 60px;
  left: 4px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 5px;
  cursor: pointer;
  -webkit-animation: down 2s infinite ease-in-out;
          animation: down 2s infinite ease-in-out;
}

.down::after {
  content: 'v';
  position: absolute;
  bottom: -25px;
  left: 21px;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(rgba(40, 40, 40, 0))), url(../images/wine-bg.jfif), #EDEDED;
  background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(../images/wine-bg.jfif), #EDEDED;
  height: 100vh;
  background-size: cover;
  background-position: 0 -125px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 30px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.header__line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 100%;
  height: 47px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-link:hover {
  background: rgba(0, 0, 0, 0.336);
}

.header-link:nth-child(1) {
  border-right: 1px solid #FFFFFF;
}

.header-link:nth-child(1):hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(253, 253, 253, 0)), to(rgba(0, 0, 0, 0.336)));
  background: linear-gradient(90deg, rgba(253, 253, 253, 0), rgba(0, 0, 0, 0.336));
}

.header-link:nth-child(2) {
  border-right: 1px solid #FFFFFF;
}

.header-link:nth-child(4) {
  border-left: 1px solid #FFFFFF;
}

.header-link:nth-child(4):hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(253, 253, 253, 0)), to(rgba(0, 0, 0, 0.336)));
  background: linear-gradient(-90deg, rgba(253, 253, 253, 0), rgba(0, 0, 0, 0.336));
}

.header__button {
  position: absolute;
  bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 415px;
}

@-webkit-keyframes down {
  from {
    bottom: 60px;
  }
  50% {
    bottom: 40px;
  }
  to {
    bottom: 60px;
  }
}

@keyframes down {
  from {
    bottom: 60px;
  }
  50% {
    bottom: 40px;
  }
  to {
    bottom: 60px;
  }
}

.taste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #282828;
}

.taste__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
  height: 650px;
  margin: 100px auto;
  border: 3px solid #C4C4C4;
}

.taste h1 {
  margin-top: 60px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.taste h1::before {
  content: '';
  position: absolute;
  top: 150px;
  left: 465px;
  width: 160px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.taste p {
  margin-top: 80px;
  max-width: 733px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.taste img {
  margin-top: 50px;
  width: 85px;
  height: 160px;
}

.harvest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #E6E3C4;
}

.harvest__info {
  position: relative;
  max-width: 570px;
}

.harvest__info p:nth-child(1) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.harvest__info h1 {
  margin-top: 30px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #282828;
  max-width: 298px;
}

.harvest__info h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  border: 1px solid;
}

.harvest__info p:nth-child(3) {
  margin-top: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  max-width: 445px;
}

.harvest__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 570px;
}

.harvest__image div:nth-child(1) {
  width: 540px;
  height: 500px;
  background-image: url(../images/fields.jfif);
  background-size: cover;
  background-position: -105px 0;
  margin: 15px;
}

.harvest__image div:nth-child(2) {
  width: 255px;
  height: 228px;
  background-image: url(../images/bottle.jfif);
  background-size: cover;
  margin: 15px;
}

.harvest__image div:nth-child(3) {
  width: 255px;
  height: 228px;
  background-image: url(../images/sale.jfif);
  background-size: cover;
  background-position: 0 -80px;
  margin: 15px;
}
/*# sourceMappingURL=style.css.map */