// font-family: 'Big Shoulders Stencil Text', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;
// res
body {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
    transition: .4s;
    &:hover {
        color: #FF004D;
    }
}

li {
    list-style-type: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
}

.header,
.advantages,
.courtship,
.food,
.suit,
.location,
.footer {
    height: 100vh;
}

.numbering {
    position: relative;
    z-index: 99;
    .point {
        position: fixed;
        right: 175px;
        top: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 320px;
        .circle {
            width: 20px;
            height: 20px;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 50%;
            border: 3px solid #fff;
            cursor: pointer;
            &-active {
                width: 20px;
                height: 20px;
                border: none;
                border-radius: 50%;
                background-color: #FF004D;
                cursor: pointer;
            }
        }
    }
    &-list {
        position: fixed;
        right: 175px;
        bottom: 80px;
        font-size: 30px;
        color: #fff;
        font-family: 'Big Shoulders Stencil Text', cursive;
        font-weight: 900;
        font-size: 96px;
        color: #FFFFFF;
        span {
            color: #FF004D;
        }
    }
}

.header {
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(74, 7, 35, 0) 0%, rgba(37, 30, 38, 0.7) 100%), #121212;
    background-image: url(../img/cat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
    padding-top: 93px;
    padding-left: 12%;
    h1 {
        position: relative;
        // margin-left: 350px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        letter-spacing: 0.14em;
        color: #FF004D;
        span {
            color: #fff;
        }
        &::after {
            position: absolute;
            content: 'CATS STORE';
            left: 20px;
            top: -75px;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 120px;
            letter-spacing: 0.14em;
            background: linear-gradient(45deg, #ff004c26 33%, #ffffff12 66%, #FF004D0D);
            background-clip: text;
            color: transparent;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        max-width: 590px;
    }
    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 155px;
        max-width: 570px;
        span {
            color: #FF004D;
        }
    }
    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    &::after {
        position: absolute;
        top: 20px;
        left: 0;
        content: '';
        width: 350px;
        height: 350px;
        transform: rotate(20deg);
        background-image: url(../img/icon/paw.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &::before {
        position: absolute;
        bottom: 100px;
        left: 0;
        content: '';
        width: 350px;
        height: 350px;
        background-image: url(../img/icon/paw.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &-feedback {
        display: flex;
        margin-top: 51px;
        a {
            position: relative;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            color: #FFFFFF;
        }
        a:nth-child(2) {
            margin-left: 31px;
            &:hover {
                color: #FF004D;
            }
            &::after {
                position: absolute;
                top: 25px;
                left: 0;
                width: 113px;
                content: 'Или позвоните по номеру';
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }
        }
        a:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 312px;
            height: 70px;
            border-radius: 50px;
            padding-bottom: 5px;
            background: linear-gradient(90deg, #FF004D 0%, #B90037 100%);
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            color: #FFFFFF;
            &:hover {
                background: linear-gradient(90deg, #FF004D 0%, #B90037 100%);
            }
        }
    }
    .paw {
        position: absolute;
        bottom: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        border: 1px solid #FF004D;
        box-shadow: 0 0 1px 0 #FF004D;
        cursor: pointer;
        animation: pawpulse 1.5s infinite cubic-bezier(.55, .55, .55, .55);
        &::before {
            position: absolute;
            content: '';
            top: 5px;
            left: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid #FF004D;
        }
        &::after {
            position: absolute;
            top: 15px;
            left: 70px;
            content: 'Листайте дальше';
            width: 187px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: right;
            color: #EAEAEA;
        }
    }
}

@keyframes pawpulse {
    0% {
        box-shadow: 0 0 1px 0px #FF004D;
    }
    100% {
        box-shadow: 0 0 8px 1px #FF004D;
    }
}

.advantages {
    padding-right: 10%;
    &-why {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img:nth-child(1) {
            position: relative;
            left: 150px;
        }
    }
}

.courtship {}

.food {}

.suit {}

.location {}

.footer {}