// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 420px;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 71% 0;
  img {
    position: absolute;
    left: 130px;
    top: 72px;
  }

  .show {
    right: 0;
    transition: .4s;
  }

  &__menu {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100vh;
    min-height: 480px;
    background-color: #415167;
    transition: .4s;
    img {
      position: absolute;
      top: 70px;
      left: 57px;
      cursor: pointer;
    }
    &-count {
      position: absolute;
      top: 55px;
      left: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Nunito;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      color: #F9FBFF;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #C7A17A;
      cursor: pointer;
    }
    span {
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: #EDF0F5;
      margin-left: 57px;

    }
    &-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin: 30px 0 0 57px;
      max-height: 225px;
      height: 100%;
      a {
        font-family: Nunito;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #EDF0F5;
        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
    }
    &-button {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 25px;
      background: rgba(0, 0, 0, 0.11);
      @media (min-width:415px) {
        display: none;
      }
    }
    @media (max-width:414px) {
      right: -275px;
    }
  }
  h1 {
    position: absolute;
    left: 130px;
    bottom: 67px;
    max-width: 470px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    color: #415167;
    span {
      padding: 0 10px;
      color: #fff;
      background-color: #C7A17A;
    }
    @media (max-width:835px) {
      left: 30px;
    }
    @media (max-width:768px) {
      font-size: 45px;
    }
    @media (max-width:414px) {
      font-size: 40px;
    }
  }
}

.main {
  &__build {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 87px;
    p {
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: #415167;
    }
    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      color: #415167;
      margin-bottom: 72px;
    }
  }

  &__tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1104px;
    width: 100%;
    margin-bottom: 120px;
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 80px;
        height: 80px;
      }
      h2 {
        margin-top: 21px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #232C38;
      }
      p {
        margin-top: 12px;
        max-width: 226px;
        text-align: center;
        font-family: Nunito;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #151D28;
      }
    }
  }

  &-line {
    &__left {
      position: absolute;
      top: 0;
      left: 0;
      width: 380px;
      height: 100%;
      background-color: rgba(65, 81, 103, 1);
    }
    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
      width: 110px;
      height: 100%;
      background-color: #fdfdfdb8;
    }
  }

  &__shop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 890px;
    margin-top: 90px;
    p {
      margin-top: 100px;
      width: 100%;
      text-align: center;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #415167;
    }
    h1 {
      width: 100%;
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      color: #415167;
    }
    &-slider {
      display: flex;
      align-items: center;
      overflow: hidden;
      max-width: 1250px;
      margin: 70px 0 128px 0;
    }
    &-block {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 570px;
      margin: 5px;
    }
  }

  &__giftset {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 86px;
    background-color: #EDF0F5;
    p {
      width: 100%;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: #415167;
    }
    h1 {
      width: 100%;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
      color: #415167;
      margin-bottom: 66px;
    }
    &-content {
      opacity: 1;
      // position: relative;
      // left: -50px;
      position: absolute;
      top: 220px;
      right: 50px;
      display: flex;
      background-color: #fff;
      width: 794px;
      height: 460px;
      &__img {
        display: flex;
        align-items: center;
        width: 245px;
        img {
          position: relative;
          left: -260px;
        }
      }
      &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 64px;
        h2 {
          margin-top: 12px;
          text-align: start;
          font-family: Nunito;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          color: #232C38;
        }
        p {
          margin-top: 12px;
          max-width: 430px;
          font-family: Nunito;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          text-align: start;
          color: #151D28;
        }
      }
    }
    &-button  {
      position: absolute;
      right: 3px;
      top: 220px;
      height: 460px;
      width: 45px;
      display: flex;
      flex-direction: column;
    }
  }
}

.btn {
  width: 134px;
  height: 32px;
  border: none;
  border-radius: 19px;
  color: #415167;
  cursor: pointer;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  &:hover {
    color: #F9FBFF;
    background: #C7A17A;
  }
}

.shop {
  &-price {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #C7A17A;
  }
  &__cart {
    display: flex;
    width: 560px;
    height: 256px;
    margin: 15px;
    transition: .4s;
    background-color: #fff;
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 235px;
      height: 256px;
      background: #EDF0F5;
    }
    &-content {
      margin-top: 42px;
      margin-left: 40px;
      h1 {
        margin-top: 8px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #232C38;
      }
      p {
        margin-top: 24px;
        font-family: Nunito;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: #151D28;
      }
    }
    &-btn {
      margin-top: 18px;
    }
  }
}

.content {
  &__proportions {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 380px;
    height: 50px;
    &-beans {
      display: flex;
      align-items: center;
      p {
        margin-left: 12px;
      }
    }
    &-mountain {
      display: flex;
      align-items: center;
      p {
        margin-left: 12px;
      }
    }
  }
  &-btn {
    margin-top: 46px;
    button:nth-child(2) {
      margin-left: 90px;
    }
  }
}

.active {
  background-color: #DADADA;
}

.giftset {
  &__button {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 150px;
    margin: 1px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    color: #415167;
    cursor: pointer;
  }
}
