svg {
  width: 50px;
  height: 50px;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000a8)), url(../img/bg-header.jpg);
  background-image: linear-gradient(#000000a8), url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .header__line {
    display: none;
  }
}

.header__line-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-family: Raleway;
  font-size: 34px;
  color: #ffffff;
}

.header__line-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 700px;
}

.header__line-nav a {
  font-family: Montserrat;
  outline: none;
}

.header__line-nav a:hover {
  color: #bfab93;
}

.header__line-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 80px;
}

.header__line-buttons img {
  width: 26px;
  height: 27px;
}

.header__slider {
  overflow: hidden;
  width: 100%;
}

.header__slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  min-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__slider-block h1 {
  font-family: Raleway;
  font-size: 52px;
  color: #ffffff;
}

@media (max-width: 800px) {
  .header__slider-block h1 {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .header__slider-block h1 {
    font-size: 30px;
  }
}

.header__slider-block h2 {
  font-family: Raleway;
  font-size: 36px;
  color: #ffffff;
}

@media (max-width: 800px) {
  .header__slider-block h2 {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .header__slider-block h2 {
    font-size: 18px;
  }
}

.header__slider-block p {
  font-family: Montserrat;
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 800px) {
  .header__slider-block p {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .header__slider-block p {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .header__slider img {
    width: 20px;
  }
}

.header__slider img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50px;
  cursor: pointer;
}

@media (max-width: 620px) {
  .header__slider img:nth-child(2) {
    display: none;
  }
}

.header__slider img:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 50px;
  cursor: pointer;
}

@media (max-width: 620px) {
  .header__slider img:nth-child(3) {
    display: none;
  }
}

.btn {
  width: 170px;
  height: 50px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #998675;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 50px;
  -webkit-box-shadow: 0px 4px 13px 7px black;
          box-shadow: 0px 4px 13px 7px black;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 12px 3px black;
          box-shadow: 0px 0px 12px 3px black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}

q:before,
q:after {
  content: '';
}

.main {
  margin-top: 100px;
}

.main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 280px;
  min-height: 225px;
  margin: 20px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main__link-button {
    max-width: 35%;
  }
}

@media (max-width: 760px) {
  .main__link-button {
    max-width: 100%;
  }
}

.main__link-button svg {
  margin: 20px 0;
}

.main__link-button h2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #555555;
  margin-bottom: 10px;
}

.main__link-button p {
  font-family: Montserrat;
  font-size: 14px;
  max-width: 270px;
  text-align: center;
  color: #8c8c8c;
  position: relative;
  margin-bottom: 25px;
}

.main__link-button div {
  width: 70px;
  height: 2px;
  background: #c7b299;
  -webkit-transition: .3s;
  transition: .3s;
}

.main__link-button:hover div {
  width: 200px;
}

.main__ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbfaf8;
  padding-top: 80px;
  margin-top: 80px;
}

.main__ideas h1 {
  font-family: Raleway;
  font-size: 30px;
  color: #555555;
}

@media (max-width: 710px) {
  .main__ideas h1 {
    font-size: 20px;
  }
}

.main__ideas p {
  font-family: Montserrat;
  font-size: 16px;
  color: #a5a5a4;
  text-align: center;
  max-width: 730px;
  margin-top: 30px;
}

@media (max-width: 710px) {
  .main__ideas p {
    font-size: 12px;
  }
}

.main__ideas-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 130px;
}

@media (max-width: 603px) {
  .main__ideas-galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__ideas-galery img:nth-child(1) {
  z-index: 1;
}

.main__ideas-galery img:nth-child(1):hover {
  z-index: 3;
}

@media (max-width: 1560px) {
  .main__ideas-galery img:nth-child(1) {
    width: 550px;
  }
}

@media (max-width: 1120px) {
  .main__ideas-galery img:nth-child(1) {
    width: 350px;
  }
}

@media (max-width: 670px) {
  .main__ideas-galery img:nth-child(1) {
    width: 300px;
  }
}

.main__ideas-galery img:nth-child(2) {
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -385px;
}

@media (max-width: 1560px) {
  .main__ideas-galery img:nth-child(2) {
    width: 550px;
    margin-left: -270px;
  }
}

@media (max-width: 1120px) {
  .main__ideas-galery img:nth-child(2) {
    width: 350px;
    margin-left: -175px;
  }
}

@media (max-width: 603px) {
  .main__ideas-galery img:nth-child(2) {
    position: initial;
  }
}

.main__ideas-galery img:nth-child(3) {
  z-index: 1;
}

.main__ideas-galery img:nth-child(3):hover {
  z-index: 2;
}

@media (max-width: 1560px) {
  .main__ideas-galery img:nth-child(3) {
    width: 550px;
  }
}

@media (max-width: 1120px) {
  .main__ideas-galery img:nth-child(3) {
    width: 350px;
  }
}

@media (max-width: 670px) {
  .main__ideas-galery img:nth-child(3) {
    width: 300px;
  }
}

.main__ideas-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  background-color: #251d1b;
}

@media (max-width: 603px) {
  .main__ideas-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__ideas-line h1 {
  font-family: Raleway;
  font-size: 28px;
  color: #b8b5b3;
}

@media (max-width: 710px) {
  .main__ideas-line h1 {
    font-size: 16px;
  }
}

.main__ideas-line button {
  margin-top: 0;
}

.main__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__projects-header h1 {
  margin-top: 80px;
  font-family: Raleway;
  font-size: 30px;
  color: #555555;
  text-align: center;
}

@media (max-width: 603px) {
  .main__projects-header h1 {
    font-size: 25px;
  }
}

.main__projects-header p {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 16px;
  color: #8c8c8c;
  text-align: center;
  max-width: 784px;
}

@media (max-width: 603px) {
  .main__projects-header p {
    font-size: 12px;
    max-width: 320px;
  }
}

.main__projects-nav {
  margin: 40px auto;
}

@media (max-width: 603px) {
  .main__projects-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__projects-nav a {
  font-family: Montserrat;
  font-size: 14px;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 5px 20px;
}

@media (max-width: 603px) {
  .main__projects-nav a {
    display: block;
    text-align: center;
    margin: 10px;
  }
}

.main__projects-nav a:hover {
  background-color: #998675;
  color: #fff;
}

.main__projects-link {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-box {
  overflow: hidden;
  position: relative;
  margin: 15px;
  max-width: 370px;
  max-height: 340px;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
}

.link-box:hover {
  -webkit-box-shadow: 0px 0px 10px 3px #000;
          box-shadow: 0px 0px 10px 3px #000;
}

.link-box:hover .link-shadow {
  top: 0;
}

.link-box:hover .link-info {
  background-color: #362f2d;
}

.link-box:hover .link-info h1 {
  color: #f2f1f1;
}

.link-box:hover .link-info p {
  color: #978675;
}

.link-box:hover .triangle {
  background-color: #362f2d;
}

.link-info {
  width: 100%;
  height: 100px;
  z-index: 1;
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fbfaf8;
  -webkit-transition: .1s;
  transition: .1s;
}

.link-info h1 {
  font-family: Raleway;
  font-size: 20px;
  color: #c7b299;
}

.link-info p {
  font-family: Montserrat;
  font-size: 14px;
  color: #d1d1d1;
}

.link-shadow {
  position: absolute;
  top: -240px;
  left: 0;
  width: 370px;
  height: 239px;
  background-color: #000000a3;
  -webkit-transition: .1s;
  transition: .1s;
}

.link-shadow img:nth-child(1) {
  position: absolute;
  top: 110px;
  left: 200px;
  cursor: pointer;
}

.link-shadow img:nth-child(2) {
  position: absolute;
  top: 110px;
  left: 135px;
  cursor: pointer;
}

.triangle {
  width: 30px;
  height: 30px;
  z-index: 0;
  position: absolute;
  bottom: 80px;
  left: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fbfaf8;
  -webkit-transition: .1s;
  transition: .1s;
}

.main__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  height: 700px;
  background-image: url(../img/bg-video.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__video h1 {
  margin-top: 20px;
  font-family: Raleway;
  font-size: 30px;
  color: #fff;
}

.main__video p {
  font-family: Montserrat;
  font-size: 16px;
  color: #fff;
  max-width: 568px;
  text-align: center;
  margin-top: 25px;
}

.main__video time {
  margin-top: 40px;
  font-family: Montserrat;
  font-size: 14px;
  color: #c2ae96;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  margin-top: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.42);
  outline: none;
  cursor: pointer;
}

.player img {
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.player:hover img {
  opacity: 1;
}

.main__devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.main__devices-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .main__devices-img {
    display: none;
  }
}

.main__devices-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px) {
  .main__devices-info {
    padding: 10px;
  }
}

.main__devices-info h1 {
  font-family: Raleway;
  font-size: 30px;
  color: #555555;
}

@media (max-width: 768px) {
  .main__devices-info h1 {
    font-size: 22px;
    margin-bottom: 35px;
  }
}

.main__devices-info p {
  font-family: Montserrat;
  font-size: 16px;
  color: #8c8c8c;
  max-width: 690px;
}

@media (max-width: 768px) {
  .main__devices-info p {
    font-size: 12px;
  }
}

.main__devices-info ul {
  padding: revert;
  margin: 40px auto;
}

.main__devices-info li {
  font-family: Montserrat;
  font-size: 16px;
  color: #8c8c8c;
  padding-left: 40px;
  padding-bottom: 5px;
  background-image: url(/img/icon/li-point.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
}

@media (max-width: 768px) {
  .main__devices-info li {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .main__devices-info li {
    background-size: 14px;
  }
}

.main__statistic {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

@media (max-width: 500px) {
  .main__statistic {
    height: 650px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__statistic-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__statistic-unit p {
  font-family: Montserrat;
  font-size: 14px;
  color: #c7b299;
}

@media (max-width: 768px) {
  .main__statistic-unit p {
    font-size: 12px;
  }
}

.people {
  font-family: Montserrat;
  font-size: 48px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .people {
    font-size: 35px;
  }
}

.main__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 85px;
}

.main__posts h1 {
  font-family: Raleway;
  font-size: 30px;
  color: #555555;
}

.main__posts p {
  font-family: Montserrat;
  font-size: 16px;
  color: #8c8c8c;
  max-width: 775px;
  margin-top: 25px;
  text-align: center;
}

@media (max-width: 768px) {
  .main__posts p {
    font-size: 14px;
    max-width: 450px;
  }
}

.main__posts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto;
  width: 100%;
}

.posts__slider {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__slider-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.posts__slider-block {
  position: relative;
  min-width: 370px;
  margin: 10px;
  min-height: 400px;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

@media (max-width: 375px) {
  .posts__slider-block {
    min-width: 340px;
  }
}

.posts__slider-block:hover {
  -webkit-box-shadow: 0px 0px 10px 3px #000;
          box-shadow: 0px 0px 10px 3px #000;
}

.posts__slider-block:hover .slider__box-img img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.posts__slider-block:hover .slider__box-content {
  background-color: #362f2d;
}

.posts__slider-block:hover .slider__box-content h1 {
  color: #c7b299;
}

.posts__slider-block:hover .slider__box-content p {
  color: #fff;
}

.posts__slider-block:hover .slider__box-content a {
  color: #c7b299;
}

.posts__slider-block:hover .day {
  background-color: #c7b299;
}

.posts__slider-block:hover .month {
  background-color: #a48d72;
}

.posts__slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  min-width: 70px;
}

@media (max-width: 768px) {
  .posts__slider-arrow {
    display: none;
  }
}

.slider__box-date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.slider__box-img {
  overflow: hidden;
}

.slider__box-img img {
  pointer-events: none;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 21px 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__box-content h1 {
  font-family: Raleway;
  font-size: 20px;
  color: #555555;
}

.slider__box-content p {
  font-family: Montserrat;
  font-size: 14px;
  color: #8c8c8c;
  max-width: 306px;
  text-align: left;
  margin-top: 20px;
}

.slider__box-content a {
  font-family: Montserrat;
  font-size: 14px;
  color: #c7b299;
  margin-top: 25px;
}

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 35px;
  font-family: Montserrat;
  font-size: 24px;
  color: #fff;
  background-color: #363636;
  border-radius: 4px 4px 0 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 25px;
  font-family: Roboto;
  font-size: 12px;
  color: #fff;
  background-color: #252525;
  border-radius: 0 0 4px 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.arrow-left {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.arrow-right {
  cursor: pointer;
}

.main__partners {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000a8)), url(/waxom/img/partners/bg-partners.jpg);
  background-image: linear-gradient(#000000a8), url(/waxom/img/partners/bg-partners.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__partners-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main__partners-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 370px;
  margin: 10px;
  min-height: 400px;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.main__partners-block img {
  pointer-events: none;
}

.main-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */