* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
}

.active {
    color: rgba(0, 164, 229, 1);
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    &-logo {
        height: 20px;
        margin-top: 41px;
    }
    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            height: 60px;
            font-size: 60px;
            font-family: 'Bebas Neue', cursive;
            font-weight: 500;
            letter-spacing: 5.70937px;
            color: #fff;
        }
        p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
    &-scroll {
        margin-bottom: 71px;
        p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            letter-spacing: 3.7px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 65px;
        margin-bottom: 50px;
        border-bottom: 1px solid #E6E6E6;
        &-link {
            a {
                letter-spacing: 1.09091px;
                margin: 0 20px;
            }
        }
    }
    &__story {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1055px;
        h1 {
            width: 100%;
            margin-bottom: 80px;
            text-align: center;
            text-transform: uppercase;
            font-family: Open Sans;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 2.30625px;
            color: #48555B;
            @media (max-width:1100px) {
                margin-bottom: 40px;
            }
        }
        &-info {
            max-width: 400px;
            flex: 1;
            h2 {
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.1875px;
                color: #48555B;
                span {
                    color:#128ee6;
                }
                @media (max-width:1100px) {
                    text-align: center;
                }
            }
            p {
                margin-top: 30px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                letter-spacing: 0.1875px;
                color: #48555B;
                @media (max-width:1100px) {
                    text-align: center;
                }
            }
            @media (max-width:1100px) {
                max-width: 460px;
            }
        }
        &-img {
            display: flex;
            @media (max-width:1100px) {
                margin-top: 20px;
            }
        }
        @media (max-width:1100px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__capabilities {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1055px;
        margin-top: 120px;
        &-line {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            h2 {
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: 2.30625px;
                color: #48555B;
                flex: 1 auto;
            }
            p {
                max-width: 400px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                letter-spacing: 0.2px;
                color: #48555B;
                margin: 0 25px 0 0;
            }
        }
        &-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 70px;
        }
        &-card {
            width: 295px;
            height: 330px;
            border: 1px solid #E6E6E6;
            padding: 20px;
            img {
                margin-top: 22px;
            }
            h2 {
                margin-top: 25px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.426667px;
                color: #48555B;
            }
            p {
                margin-top: 13px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                letter-spacing: 0.1875px;
                color: #48555B;
            }
        }
        @media (max-width:1100px) {
            max-width: 904px;
        }
    }
}

.img-box {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 224px;
    margin: 10px;
    h2 {
        position: absolute;
        z-index: 1;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        width: 70px;
        margin: 20px 0 0 15px;
    }
    img {
        position: absolute;
        top: 0;
        left: -132px;
        height: 230px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-touch {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 440px;
        background-image: url(../img/bg-footer.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        h1 {
            max-width: 350px;
            margin-top: 120px;
            text-align: center;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            letter-spacing: 0.15px;
            color: #48555B;
        }
        button {
            margin-top: 35px;
        }
    }
    &-feedback {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #171819;
        h1 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 0.846154px;
            color: #FFFFFF;
        }
        form {
            display: flex;
            align-items: center;
            margin-left: 70px;
            input:nth-child(1) {
                width: 250px;
                height: 40px;
                padding: 0 15px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.07px;
                color: #48555B;
                background: #FFFFFF;
                border: none;
            }
            input:nth-child(2) {
                width: 150px;
                height: 40px;
                background: #00A4E5;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 0.5px;
                color: #FFFFFF;
                border: none;
                cursor: pointer;
            }
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-top: 50px;
        width: 100%;
        height: 240px;
        background-color: #141A20;
        &-company {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 250px;
            p {
                margin-top: 20px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                letter-spacing: 0.85px;
                color: #FFFFFF;
            }
        }
        &-linc {
            display: flex;
            flex-direction: column;
            align-items: start;
            flex-wrap: wrap;
            width: 350px;
            height: 150px;
            a {
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                letter-spacing: 0.846154px;
                color: #FFFFFF;
                margin: 10px 20px;
                text-align: center;
            }
        }
        &-address {
            width: 150px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                letter-spacing: 0.846154px;
                color: #FFFFFF;
            }
            a {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                letter-spacing: 0.846154px;
                color: #FFFFFF;
            }
        }
    }
    &-copy {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: #171819;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        letter-spacing: 0.846154px;
        color: #FFFFFF;
    }
}