* {
  margin: 0;
  padding: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn, .header__contacts > p, .header__contacts_box, .header__nav > a, .header__nav > a:nth-child(6), .header__mobile > a, .header__title_info > p, .header__title_info > h1, .header__slider_arrow, .main > h2, .main__title, .gallery > h2, .gallery__preview, .gallery__next, .raiting__box, .partners > h2, .footer, .footer > h2 {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
}

.btn {
  width: 160px;
  height: 50px;
  background: #D1A954;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 7px 3px #000000;
          box-shadow: 0px 0px 7px 3px #000000;
}

.header {
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: cover;
  padding: 10px 20%;
  height: 100vh;
  min-height: 800px;
  position: relative;
}

@media (max-width: 1100px) {
  .header {
    padding: 10px 15%;
    height: 800px;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 10px 20%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
    height: 800px;
  }
}

@media (max-width: 576px) {
  .header {
    min-height: 500px;
  }
}

@media (max-width: 540px) {
  .header {
    padding: 10px 20px;
  }
}

.header__contacts {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 100%;
  background: rgba(51, 51, 51, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contacts > p {
  position: absolute;
  top: 450px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header__contacts_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  padding-bottom: 40px;
}

.header__contacts_box > a {
  margin: 10px;
}

@media (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav > a {
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__nav > a:hover {
  color: #D1A954;
}

@media (max-width: 1570px) {
  .header__nav > a {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .header__nav > a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header__nav > a {
    display: none;
  }
}

.header__nav > a:nth-child(6) {
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 150px;
  border-bottom: 2px solid #D1A954;
}

.header__nav > a:nth-child(6):hover {
  color: #D1A954;
}

@media (max-width: 1800px) {
  .header__nav > a:nth-child(6) {
    margin-left: 80px;
  }
}

@media (max-width: 1570px) {
  .header__nav > a:nth-child(6) {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header__nav > a:nth-child(6) {
    position: absolute;
    font-size: 12px;
    top: 50px;
    left: 30%;
  }
}

@media (max-width: 768px) {
  .header__nav > a:nth-child(6) {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 46px;
    left: auto;
    right: 39px;
  }
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60px;
  left: 40px;
  width: 13px;
  height: 2px;
  border: none;
  background: #fff;
  cursor: pointer;
}

.header__burger::before {
  position: absolute;
  top: 6px;
  content: '';
  width: 8px;
  height: 2px;
  border: none;
  background: #fff;
}

.header__burger::after {
  position: absolute;
  top: -6px;
  content: '';
  width: 20px;
  height: 2px;
  border: none;
  background: #fff;
}

@media (min-width: 769px) {
  .header__burger {
    display: none;
  }
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: -300px;
  padding: 100px 0px 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 100%;
  background: #333333;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header__mobile_cross {
  cursor: pointer;
}

.header__mobile_cross > hr {
  position: absolute;
  top: 38px;
  right: 38px;
  width: 20px;
  height: 2px;
  border: none;
  background: #fff;
}

.header__mobile_cross > hr:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__mobile_cross > hr:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__mobile > a {
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 45px 0px 0px 15px;
}

.header__mobile > a:hover {
  color: #D1A954;
}

.header__mobile_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 120px;
  margin-left: 45px;
  margin-top: 50px;
}

.header__mobile_social > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  margin: 20px;
}

@media (min-width: 769px) {
  .header__mobile {
    display: none;
  }
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 190px;
}

@media (max-width: 992px) {
  .header__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__title_info > p {
  font-size: 13px;
  max-width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
}

@media (max-width: 1450px) {
  .header__title_info > p {
    max-width: 400px;
  }
}

@media (max-width: 1100px) {
  .header__title_info > p {
    max-width: 320px;
  }
}

@media (max-width: 992px) {
  .header__title_info > p {
    max-width: 500px;
  }
}

.header__title_info > h1 {
  letter-spacing: 0.1em;
  font-size: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1450px) {
  .header__title_info > h1 {
    font-size: 45px;
  }
}

@media (max-width: 1100px) {
  .header__title_info > h1 {
    font-size: 40px;
  }
}

@media (max-width: 369px) {
  .header__title_info > h1 {
    font-size: 34px;
  }
}

.header__title_slider {
  position: relative;
  width: 350px;
  height: 560px;
}

@media (max-width: 1300px) {
  .header__title_slider {
    width: 270px;
  }
}

@media (max-width: 1100px) {
  .header__title_slider {
    height: 400px;
  }
}

@media (max-width: 992px) {
  .header__title_slider {
    display: none;
  }
}

.header__slider_top {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 490px;
  background: #000;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__slider_top > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .header__slider_top {
    width: 270px;
    height: 400px;
  }
}

.header__slider_back {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: -20px;
  width: 350px;
  height: 490px;
  background: #8a5a5a;
  overflow: hidden;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: .5s;
  transition: .5s;
}

.header__slider_back > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .header__slider_back {
    width: 270px;
    height: 400px;
  }
}

.header__slider_arrow {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .header__slider_arrow {
    width: 300px;
    bottom: 85px;
  }
}

@media (max-width: 1100px) {
  .header__slider_arrow {
    bottom: -50px;
  }
}

.header__slider_pre {
  cursor: pointer;
}

.header__slider_pre:before {
  content: url(../img/prev.svg);
  padding-right: 25px;
}

.header__slider_next {
  cursor: pointer;
}

.header__slider_next:after {
  content: url(../img/next.svg);
  padding-left: 25px;
}

.main {
  padding: 10px 20% 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #333333;
}

@media (max-width: 1800px) {
  .main {
    padding: 10px 15% 30px;
  }
}

@media (max-width: 1300px) {
  .main {
    padding: 10px 10% 30px;
  }
}

@media (max-width: 1100px) {
  .main {
    padding: 10px 5% 30px;
  }
}

@media (max-width: 992px) {
  .main {
    padding: 10px 15% 30px;
  }
}

@media (max-width: 800px) {
  .main {
    padding: 10px 10% 30px;
  }
}

@media (max-width: 380px) {
  .main {
    padding: 10px 2% 30px;
  }
}

.main > h2 {
  text-transform: uppercase;
  margin-top: 150px;
  letter-spacing: 0.1em;
  font-size: 48px;
  font-weight: 300;
  color: #D1A954;
}

@media (max-width: 1200px) {
  .main > h2 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .main > h2 {
    margin-top: 80px;
  }
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}

.main__title_info {
  max-width: 400px;
}

.main__title_info > p:nth-child(1) {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.main__title_info > p:nth-child(2) {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.8;
}

@media (max-width: 576px) {
  .main__title_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}

.main__title_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
  max-height: 295px;
}

.main__title_num > p:nth-child(1) {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 800px) {
  .main__title_num > p:nth-child(1) {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .main__title_num {
    margin-right: 0px;
    min-width: 166px;
  }
}

@media (max-width: 992px) {
  .main__title_num {
    max-height: 271px;
  }
}

@media (max-width: 576px) {
  .main__title_num {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    margin-top: 20px;
  }
}

.main__title_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title_box > p:nth-child(1) {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #D1A954;
  margin-top: 110px;
}

.main__title_box > p:nth-child(1):before {
  position: absolute;
  top: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  content: url(../img/armchair.svg);
}

@media (max-width: 800px) {
  .main__title_box > p:nth-child(1) {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .main__title_box > p:nth-child(1) {
    margin-right: 10px;
  }
}

.main__title_box > p:nth-child(2) {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-size: 16px;
  color: #D1A954;
}

.main__title_box > p:nth-child(2):before {
  position: absolute;
  top: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
  content: url(../img/theater.svg);
}

@media (max-width: 992px) {
  .main__title_box > p:nth-child(2):before {
    top: 120px;
  }
}

@media (max-width: 576px) {
  .main__title_box > p:nth-child(2):before {
    top: 0;
  }
}

@media (max-width: 800px) {
  .main__title_box > p:nth-child(2) {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .main__title_box > p:nth-child(2) {
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  .main__title_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 120px;
  }
}

.main__title_img {
  width: 350px;
  height: 292px;
  background: #000;
}

@media (max-width: 992px) {
  .main__title_img {
    display: none;
  }
}

@media (max-width: 576px) {
  .main__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery {
  position: relative;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #333333;
}

.gallery > h2 {
  margin-top: 50px;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}

@media (max-width: 1200px) {
  .gallery > h2 {
    font-size: 40px;
  }
}

.gallery__line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.gallery__preview {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  max-height: 500px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 33px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.gallery__preview > p:nth-child(1) {
  z-index: 5;
  position: absolute;
  top: 25px;
  left: 40px;
}

@media (max-width: 1635px) {
  .gallery__preview > p:nth-child(1) {
    top: 10px;
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .gallery__preview > p:nth-child(1) {
    top: 10px;
  }
}

@media (max-width: 992px) {
  .gallery__preview > p:nth-child(1) {
    font-size: 20px;
  }
}

@media (max-width: 369px) {
  .gallery__preview > p:nth-child(1) {
    font-size: 14px;
  }
}

.gallery__preview > p:nth-child(2) {
  z-index: 5;
  position: absolute;
  bottom: 100px;
  left: -40px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1635px) {
  .gallery__preview > p:nth-child(2) {
    bottom: 55px;
    left: -30px;
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .gallery__preview > p:nth-child(2) {
    bottom: 50px;
    left: -25px;
  }
}

@media (max-width: 992px) {
  .gallery__preview > p:nth-child(2) {
    bottom: 85px;
    font-size: 20px;
  }
}

@media (max-width: 369px) {
  .gallery__preview > p:nth-child(2) {
    font-size: 14px;
  }
}

.gallery__preview_circle {
  z-index: 5;
  opacity: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #D1A954;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.gallery__preview > img {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: .5s;
  transition: .5s;
}

.gallery__preview:hover .gallery__preview_circle {
  opacity: 1;
}

.gallery__preview:hover > img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@media (max-width: 1200px) {
  .gallery__preview {
    max-width: 250px;
  }
}

@media (max-width: 992px) {
  .gallery__preview {
    max-width: 400px;
    max-height: 500px;
  }
}

@media (max-width: 576px) {
  .gallery__preview {
    max-width: 340px;
    max-height: 400px;
  }
}

@media (max-width: 369px) {
  .gallery__preview {
    max-width: 320px;
    max-height: 330px;
  }
}

.gallery__next {
  position: relative;
  background: #000;
  width: 200px;
  height: 500px;
  overflow: hidden;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  cursor: pointer;
  text-transform: uppercase;
}

.gallery__next > p:nth-child(1) {
  z-index: 5;
  position: absolute;
  top: 25px;
  left: 40px;
  font-size: 20px;
}

@media (max-width: 369px) {
  .gallery__next > p:nth-child(1) {
    font-size: 14px;
  }
}

.gallery__next > p:nth-child(2) {
  z-index: 5;
  position: absolute;
  bottom: 100px;
  left: -40px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 85px;
  font-size: 20px;
}

@media (max-width: 369px) {
  .gallery__next > p:nth-child(2) {
    font-size: 14px;
    left: -20px;
  }
}

.gallery__next > img {
  height: 100%;
}

@media (min-width: 992px) {
  .gallery__next {
    display: none;
  }
}

@media (max-width: 576px) {
  .gallery__next {
    width: 100px;
    max-height: 400px;
  }
}

@media (max-width: 369px) {
  .gallery__next {
    max-height: 330px;
  }
}

.raiting {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
}

.raiting__box {
  max-width: 1100px;
  height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/bg-raiting.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1200px) {
  .raiting__box {
    max-width: 900px;
  }
}

@media (max-width: 992px) {
  .raiting__box {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .raiting__box {
    height: 350px;
  }
}

.raiting__box_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 70px;
  color: #D1A954;
}

@media (max-width: 1200px) {
  .raiting__box_year > p {
    font-size: 50px;
  }
}

@media (max-width: 1200px) and (max-width: 399px) {
  .raiting__box_year > p {
    font-size: 40px;
  }
}

.raiting__box_info > p:nth-child(1) {
  color: #D1A954;
  font-size: 40px;
}

@media (max-width: 1200px) {
  .raiting__box_info > p:nth-child(1) {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .raiting__box_info > p:nth-child(1) {
    font-size: 24px;
  }
}

.raiting__box_info > p:nth-child(2) {
  font-size: 36px;
  line-height: 150%;
  max-width: 400px;
}

@media (max-width: 1200px) {
  .raiting__box_info > p:nth-child(2) {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .raiting__box_info > p:nth-child(2) {
    max-width: 330px;
    font-size: 25px;
  }
}

@media (max-width: 399px) {
  .raiting__box_info > p:nth-child(2) {
    max-width: 175px;
    font-size: 22px;
  }
}

.partners {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
}

.partners > h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .partners > h2 {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .partners > h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .partners > h2 {
    font-size: 32px;
  }
}

.partners__logo {
  max-width: 850px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .partners__logo > img {
    width: 180px;
  }
}

@media (max-width: 1200px) and (max-width: 765px) {
  .partners__logo > img {
    width: 150px;
  }
}

@media (max-width: 900px) {
  .partners__logo {
    padding: 10px 10px;
  }
}

@media (max-width: 640px) {
  .partners__logo {
    max-width: 400px;
  }
}

@media (max-width: 369px) {
  .partners__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .partners {
    padding: 50px 0px;
  }
}

.footer {
  padding: 100px 20%;
  position: relative;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
}

@media (max-width: 1400px) {
  .footer {
    padding: 100px 10%;
  }
}

@media (max-width: 1070px) {
  .footer {
    padding: 100px 5%;
  }
}

@media (max-width: 992px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 100px 19%;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 100px 2%;
  }
}

.footer > h2 {
  position: absolute;
  top: 0;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
}

@media (max-width: 1200px) {
  .footer > h2 {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .footer > h2 {
    font-size: 31px;
    letter-spacing: normal;
  }
}

.footer__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .footer__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 605px;
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 640px) {
  .footer__contacts {
    min-width: 320px;
    width: 380px;
  }
}

@media (max-width: 400px) {
  .footer__contacts {
    width: 320px;
    padding: 10px;
  }
}

.footer__contacts_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts_phone > a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .footer__contacts_phone > a {
    font-size: 14px;
  }
}

.footer__contacts_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts_adress > a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
}

@media (max-width: 400px) {
  .footer__contacts_adress > a {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .footer__contacts_adress {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 400px) {
  .footer__contacts_adress > p {
    font-size: 14px;
  }
}

.footer__back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__back_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
}

.footer__back_contacts > form > input {
  width: 180px;
  height: 35px;
  background: #444444;
  border: 1px solid #616161;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding-left: 10px;
  color: #ffffff;
  margin: 15px 30px 15px 0px;
}

@media (max-width: 640px) {
  .footer__back_contacts > form > input {
    margin: 10px;
  }
}

@media (max-width: 640px) {
  .footer__back_contacts > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
    width: 400px;
  }
}

@media (max-width: 399px) {
  .footer__back_contacts > form {
    width: 300px;
  }
}

.footer__back_contacts > textarea {
  width: 350px;
  height: 100px;
  background: #444444;
  border: 1px solid #616161;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 10px;
  color: #ffffff;
}

@media (max-width: 640px) {
  .footer__back_contacts > textarea {
    width: 380px;
  }
}

@media (max-width: 399px) {
  .footer__back_contacts > textarea {
    width: 300px;
  }
}

@media (max-width: 640px) {
  .footer__back_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.footer__back_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__back_info > p {
  max-width: 390px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}

@media (max-width: 640px) {
  .footer__back_info > p {
    margin-top: 30px;
    text-align: center;
    width: 320px;
  }
}

@media (max-width: 640px) {
  .footer__back_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */