.header {
    background-image: linear-gradient(#000000a8), url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
        height: 75vh;
    }
    &__line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1140px;
        margin-top: 40px;
        @media (max-width: 1200px) {
            justify-content: center;
            width: max-content;
        }
        &-logo {
            display: flex;
            span {
                text-align: center;
                font-family: $rel;
                font-size: 34px;
                color: #ffffff;
                @media (max-width: 1200px) {
                    display: none;
                }
            }
        }
        &-nav {
            display: flex;
            justify-content: space-between;
            min-width: 700px;
            a {
                font-family: $mon;
                outline: none;
                &:hover {
                    color: #bfab93;
                }
            }
            @media (max-width: 1200px) {
                display: none;
            }
        }
        &-mobile {
            position: absolute;
            top: 0;
            left: -50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.849);
            width: 50%;
            height: 100vh;
            @media (min-width: 1200px) {
                display: none;
            }
            @media (max-width: 768px) {
                height: 75vh;
            }
        }
        &-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 80px;
            img {
                width: 26px;
                height: 27px;
            }
            @media (max-width: 1200px) {
                min-width: auto;
                img:nth-child(1) {
                    display: none;
                }
                img:nth-child(2) {
                    position: absolute;
                    top: 50px;
                    right: 50px;
                }
            }
        }
    }
    &__slider {
        overflow: hidden;
        @media (max-width: 375px) {
            width: 355px;
        }
        &-line {
            display: flex;
            align-items: center;
            width: max-content;
            cursor: pointer;
        }
        &-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: max-content;
            user-select: none;
            @media (max-width: 768px) {
                height: 55vh;
            }
            h1 {
                font-family: $rel;
                font-size: 52px;
                color: #ffffff;
                @media (max-width: 800px) {
                    font-size: 40px;
                }
                @media (max-width: 500px) {
                    font-size: 30px;
                }
            }
            h2 {
                font-family: $rel;
                font-size: 36px;
                color: #ffffff;
                @media (max-width: 800px) {
                    font-size: 25px;
                }
                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }
            p {
                font-family: $mon;
                font-size: 16px;
                color: #ffffff;
                text-align: center;
                @media (max-width: 800px) {
                    font-size: 14px;
                }
                @media (max-width: 500px) {
                    font-size: 12px;
                }
            }
        }
        img {
            @media (max-width: 1200px) {
                width: 20px;
            }
        }
        img:nth-child(2) {
            position: absolute;
            top: 50%;
            left: 50px;
            cursor: pointer;
            @media (max-width: 768px) {
                display: none;
            }
        }
        img:nth-child(3) {
            position: absolute;
            top: 50%;
            right: 50px;
            cursor: pointer;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

.btn {
    width: 170px;
    height: 50px;
    font-family: $rel;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #998675;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 50px;
    box-shadow: 0px 4px 13px 7px black;
    transition: .2s;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 12px 3px black;
    }
}

.mobile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    a {
        font-family: $mon;
        outline: none;
        &:hover {
            color: #bfab93;
        }
    }
}

.cross {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    &:before {
        content: '';
        top: 0;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transform: rotate(90deg);
    }
    &:hover {
        // animation: crossmod 1s;
        // animation-fill-mode: forwards;
        &:before {
            animation: crossbefore .3s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes crossbefore {
    0% {
        width: 30px;
    }
    100% {
        width: 0px;
    }
}

@keyframes crossmod {
    0% {
        transform: rotate(45deg);
    }
    20% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(0deg);
        height: 2px;
        border-radius: 0px;
    }
    100% {
        transform: rotate(0deg);
        height: 20px;
        border-radius: 50%;
    }
}