* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    width: 100%;
    text-align: center;
}

.left-monocular,
.right-monocular {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sphere {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.vision {
    display: flex;
    justify-content: space-around;
}

.deg {
    width: 100%;
    text-align: center;
}