@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  width: 200px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: #4985FF;
  -webkit-box-shadow: 0px 3px 5px black;
          box-shadow: 0px 3px 5px black;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #2b5cbd;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.advantages__box, .advantages__box_content, .advantages__box_content-img, .standarts, .standarts__box_img, .projects, .projects__box_number, .jobs__info, .jobs__box, .our__box, .our__all, .feedback__form, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.head__info, .advantages, .jobs__box_content, .our__title, .video, .feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__nav_link > a, .head__info > p, .advantages > p, .advantages__box_content-info > p, .standarts__box > p, .standarts__box > a, .projects__box_info > p, .jobs__box_content > p:nth-child(3), .jobs__box_content > a, .our__title > p, .video > p, .feedback > p, .feedback__form_input, .feedback__form_button, .footer__box > ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #999999;
}

.head__info > h1, .advantages > h2, .advantages__box_content-info > span, .standarts__box > h2, .projects__box_number > span, .jobs__info > h2, .jobs__box_content > p:nth-child(2), .our__title > h2, .video > h2, .feedback > h3, .footer__box > h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #000000;
  font-weight: bold;
}

@media (max-width: 715px) {
  .head__info > h1, .advantages > h2, .advantages__box_content-info > span, .standarts__box > h2, .projects__box_number > span, .jobs__info > h2, .jobs__box_content > p:nth-child(2), .our__title > h2, .video > h2, .feedback > h3, .footer__box > h4 {
    font-size: 30px;
  }
}

.head {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg.jpg);
  padding: 0 20% 300px 20%;
}

.head__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 1s;
  transition: 1s;
}

.head__nav_link {
  margin-top: 40px;
}

.head__nav_link > a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  border-bottom: 2px solid #ffffff00;
  -webkit-transition: 1s;
  transition: 1s;
}

.head__nav_link > a:hover {
  border-bottom: 2px solid #ffffff;
}

.head__info > p {
  color: #ffffff;
  padding-top: 200px;
}

.head__info > h1 {
  color: #ffffff;
  max-width: 600px;
  text-align: center;
  padding-bottom: 50px;
}

.advantages {
  padding-bottom: 100px;
}

.advantages > h2 {
  max-width: 750px;
  text-align: center;
  padding-top: 100px;
}

.advantages > p {
  max-width: 600px;
  text-align: center;
}

.advantages__box {
  margin-top: 70px;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__box_content {
  height: 130px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.advantages__box_content-img {
  width: 80px;
  height: 80px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
}

.advantages__box_content-img::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid #4985FF;
  border-radius: 50%;
}

.advantages__box_content-info {
  margin-left: 20px;
}

.advantages__box_content-info > span {
  font-size: 18px;
}

.advantages__box_content-info > p {
  max-width: 200px;
}

.standarts {
  background: #F6F6F8;
  padding: 100px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.standarts__box > h2 {
  max-width: 400px;
}

.standarts__box > p {
  max-width: 400px;
}

.standarts__box > a {
  color: #4985FF;
}

.standarts__box_img {
  width: 400px;
  height: 350px;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 30px;
}

.projects {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 70px 20%;
  background: #F6F6F8;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__box_number > span {
  font-size: 30px;
  padding-left: 10px;
}

.projects__box_info > p {
  text-align: center;
}

.jobs {
  padding: 100px 20%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40.44%, #fefeff), color-stop(0, #6218ca)), #ffffff;
  background: linear-gradient(0deg, #fefeff 40.44%, #6218ca 0), #ffffff;
}

.jobs__info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs__info > h2 {
  color: #ffffff;
  max-width: 500px;
}

.jobs__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media screen and (max-height: 1180px) {
  .jobs__box_content {
    text-align: center;
  }
}

.jobs__box_content > img {
  max-width: 330px;
  max-height: 300px;
  margin: 10px;
  border-radius: 15px;
}

.jobs__box_content > p:nth-child(3) {
  max-width: 300px;
}

.jobs__box_content > p:nth-child(2) {
  font-size: 16px;
}

.jobs__box_content > p:nth-child(2) > span {
  color: #4985FF;
  padding-right: 10px;
}

.jobs__box_content > a {
  color: #4985FF;
}

@media screen and (max-width: 1182px) {
  .jobs__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our {
  background: #F6F6F8;
  padding: 50px 20%;
}

.our__title > p {
  max-width: 600px;
  text-align: center;
}

.our__box {
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__box_content {
  margin: 5px;
}

.our__all {
  margin-top: 50px;
  margin-bottom: 100px;
}

.video {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))), url(../images/bg_2.jpg);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../images/bg_2.jpg);
  padding: 70px 20%;
  height: 430px;
}

.video > h2 {
  margin: 0;
  color: #ffffff;
}

.video > p {
  color: #ffffff;
  padding-top: 30px;
}

.feedback {
  padding: 50px 20%;
}

.feedback > h3 {
  font-size: 18px;
}

.feedback__form {
  margin-top: 20px;
}

.feedback__form_input {
  width: 250px;
  height: 33px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #F2F2F2;
  border: none;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  color: #999999;
  padding-left: 20px;
  outline: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.feedback__form_input:active {
  -webkit-box-shadow: 2px 0px 10px #6f6f6f;
          box-shadow: 2px 0px 10px #6f6f6f;
}

.feedback__form_button {
  width: 150px;
  height: 35px;
  border-radius: 0 30px 30px 0;
  border: none;
  background: #4985FF;
  color: #ffffff;
  outline: none;
  -webkit-box-shadow: 2px 0px 10px #6f6f6f;
          box-shadow: 2px 0px 10px #6f6f6f;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.feedback__form_button:hover {
  -webkit-box-shadow: 2px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 2px 0px 10px rgba(111, 111, 111, 0.25);
}

.feedback > p:nth-child(4) {
  padding-top: 20px;
}

.footer {
  background: #F6F6F8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 70px 20%;
}

.footer__box > ul {
  list-style-type: none;
  padding-left: 0;
}

.footer__box > ul > li {
  padding-top: 20px;
}

.footer__box > ul > li > img {
  padding-right: 10px;
}

.footer__box > ul > li > a {
  color: #999999;
  text-decoration: none;
}

.footer__box > h4 {
  font-size: 18px;
}

@media (max-width: 1370px) {
  .our__box_content > img {
    max-width: 190px;
  }
  .jobs__box_content {
    max-width: 255px;
  }
  .jobs__box_content > img {
    max-width: 250px;
  }
  .standarts {
    padding: 100px 0%;
  }
  .jobs {
    padding: 100px 16%;
  }
  .our {
    padding: 50px 18%;
  }
}

@media (max-width: 1024px) {
  .jobs__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .jobs__box_content {
    max-width: 175px;
  }
  .jobs__box_content > img {
    max-width: 185px;
  }
  .our__box_content > img {
    max-width: 140px;
  }
  .footer {
    padding: 70px 3%;
  }
}

@media (max-width: 910px) {
  .head {
    padding: 0 0 300px;
  }
  .head__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__box_content {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__box_content-info {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
  .standarts {
    padding: 100px 0;
  }
  .jobs {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(72.44%, #fefeff), color-stop(0, #6218ca)), #ffffff;
    background: linear-gradient(0deg, #fefeff 72.44%, #6218ca 0), #ffffff;
  }
  .jobs__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jobs__info > h2 {
    text-align: center;
  }
  .jobs__box_content {
    margin-top: 30px;
  }
  .footer__box {
    width: 250px;
    height: 230px;
  }
}

@media (max-width: 899px) {
  .our__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 823px) {
  .projects {
    padding: 70px 0%;
  }
  .jobs {
    padding: 100px 10%;
  }
  .our {
    padding: 50px 10%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 815px) {
  .projects {
    padding: 70px 0%;
  }
  .jobs {
    padding: 125px 10%;
  }
  .our {
    padding: 50px 10%;
  }
  .standarts__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .standarts__box > h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .projects {
    padding: 70px 0%;
  }
  .jobs {
    padding: 127px 6%;
  }
  .our {
    padding: 50px 6%;
  }
}

@media (max-width: 727px) {
  .jobs {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(65.44%, #fefeff), color-stop(0, #6218ca)), #ffffff;
    background: linear-gradient(0deg, #fefeff 65.44%, #6218ca 0), #ffffff;
    padding: 100px 0;
  }
  .jobs__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video {
    padding: 70px 0;
  }
}

@media (max-width: 715px) {
  .feedback {
    padding: 50px 0;
  }
}

@media (max-width: 667px) {
  .jobs {
    padding: 100px 30px;
  }
  .our__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our__box_content > img {
    max-width: 250px;
  }
}

@media (max-width: 568px) {
  .advantages__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jobs__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jobs__box_content {
    max-width: 250px;
  }
  .jobs__box_content > img {
    max-width: 250px;
  }
}

@media (max-width: 552px) {
  .head {
    padding: 0 0 150px;
  }
  .head__nav {
    background-color: rgba(0, 0, 0, 0.582);
    padding-bottom: 30px;
  }
  .head__nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__nav_link > a {
    padding: 10px;
  }
}

@media (max-width: 435px) {
  .feedback__form_input {
    width: 200px;
  }
  .feedback__form_button {
    width: 115px;
  }
  .standarts__box > p {
    max-width: 350px;
  }
  .standarts__box_img {
    width: 320px;
    height: 300px;
  }
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jobs__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our {
    padding: 50px 0;
  }
  .our__title > h2 {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .standarts__box > p {
    max-width: 320px;
  }
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0%;
  }
  .jobs__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our__box_content > img {
    max-width: 220px;
  }
}

@media (max-width: 371px) {
  .video > h2 {
    text-align: center;
  }
  .feedback > p:nth-child(2) {
    text-align: center;
  }
  .feedback > p:nth-child(4) {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .feedback > h3 {
    text-align: center;
  }
  .feedback__form_input {
    padding-left: 10px;
    width: 180px;
    font-size: 12px;
  }
  .feedback__form_button {
    width: 95px;
    font-size: 12px;
  }
  .jobs__box_content > img {
    max-width: 300px;
  }
  .jobs__info > h2 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */